################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BhartiNetwork/CopilotIndices/17.14.939.21063
/.vs/BhartiNetwork/FileContentIndex
