<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bharti Networks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- Favicons -->
    <link href="../assets/img/bn-favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    @*<link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet" />*@
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- Main CSS File -->
    <style type="text/css">
        .float {
            position: fixed;
            width: 50px;
            height: 50px;
            bottom: 60px;
            right: 14px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
        }
    </style>

</head>

<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>*@



    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:info@bhartinetworks.com">info@bhartinetworks.com</a>
                <a href="tel: +91 9839 4182 22" style="color: white;"><strong><i class="bi-telephone-inbound-fill phone-icon"></i></strong> call us</a>
            </div>
            <div class="cta d-none d-md-block">
                <a href="#about" class="scrollto">Get Started</a>
            </div>
        </div>
    </div>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- <h1 class="logo"><a href="index.html">Anyar</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/Home/Index" class="logo"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="/Home/Index">Home</a></li>
                    <li><a class="nav-link" href="/Home/AboutUs">About</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Home/Telecom">Telecom</a></li>
                            <li><a href="/Home/ManpowerOutsourcing">Manpower Outsourcing</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="/Home/Project">Projects</a></li>
                    <li><a class="nav-link" href="/Home/Career">Career</a></li>
                    <li><a class="nav-link" href="/Home/ContactUs">Contact</a></li>
                    <li><a class="nav-link" href="/Home/EmployeeRegistration">Employee Registration</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="https://webmail.bhartinetworks.com/Mondo/lang/sys/login.aspx">Employee</a></li>
                            <li><a href="/Home/vendor">Vendor</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    @*</div>
        </div>*@







    @RenderBody()

    <a href="https://api.whatsapp.com/send?phone=919839418222" title="Bharti" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/AboutUs">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Career">Career</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/ContactUs">Contact us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/vendor">Vendor</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Telecom">Telecom</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/ManpowerOutsourcing">Manpower Outsourcing</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Head Quarter:</strong><br />
                            Bharti Networks<br>
                            444 Alaska Avenue Suite #BFK943<br /> 
                            Torrance, California-90503 USA<br /><br />

                            <a href="tel: +91 9839 4182 22" style="color: white;"><strong>Phone : </strong>+12058513414</a><br>
                            <a href="mailto: info@bhartinetworks.com" style="color: white;"><strong>Email:</strong> info@bhartinetworks.com</a><br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>About Bharti Networks</h3>
                        <p>To provide Cost efficient Services for emerging Telecom Networks, carrying innovative products to enable our customers to achieve excellence in their performance</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter" title="Twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/Bharti-Networks-106723941788220" target="_blank" class="facebook" title="Facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram" title="Instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus" title="Google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="telegram" title="Telegram"><i class="bx bxl-telegram"></i></a>
                            @*<a href="viber://contact?number=%2B977 982 1945614" class="viber" title="Viber"><i class="bx bxl-whatsapp"></i></a>*@
                            <!-- <a href="viber://contact?number=%2B977 982 1945614">Viber Contact</a> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Bharti Networks</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
                Designed by <a href="https://afluex.com/">Afluex Multiservices LLP</a>
            </div>
        </div>
    </footer><!-- End Footer -->





    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            function after_form_submitted(data) {
                if (data.result == 'success') {
                    $('form#reused_form').hide();
                    $('#success_message').show();
                    $('#error_message').hide();
                }
                else {
                    $('#error_message').append('<ul></ul>');

                    jQuery.each(data.errors, function (key, val) {
                        $('#error_message ul').append('<li>' + key + ':' + val + '</li>');
                    });
                    $('#success_message').hide();
                    $('#error_message').show();

                    //reverse the response on the button
                    $('button[type="button"]', $form).each(function () {
                        $btn = $(this);
                        label = $btn.prop('orig_label');
                        if (label) {
                            $btn.prop('type', 'submit');
                            $btn.text(label);
                            $btn.prop('orig_label', '');
                        }
                    });

                }//else
            }

            $('#reused_form').submit(function (e) {
                e.preventDefault();

                $form = $(this);
                //show some response on the button
                $('button[type="submit"]', $form).each(function () {
                    $btn = $(this);
                    $btn.prop('type', 'button');
                    $btn.prop('orig_label', $btn.text());
                    $btn.text('Sending ...');
                });


                $.ajax({
                    type: "POST",
                    url: 'handler.php',
                    data: $form.serialize(),
                    success: after_form_submitted,
                    dataType: 'json'
                });

            });
        });

    </script>

</body>
</html>