@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .team .member .member-info {
    padding: 0px 30px;
}
    .team .member .pic {
    width: 100%;
}

</style>
@using (Html.BeginForm("AboutUs", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center heroabout">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-uppercase text-white text-center mb-0 fs-md-4 fs-2 ">About Us</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-white pt-7">
            <div class="container-fluid">

                <div class="row justify-content-center">
                    <!-- <div class="col-lg-3 text-sans-serif"> -->
                    <div class="col-lg-4 align-items-stretch position-relative video-box" style='background-image: url("../assets/img/why-us.jpg"); background-repeat: no-repeat;' data-aos="fade-right">
                    </div>

                    <!-- </div> -->
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">
                        <p class="mb-4"></p>
                        <p class="fs-5">“To provide Cost efficient Services for emerging Telecom Networks, carrying innovative products to enable our customers to achieve excellence in their performance”</p>
                        <div class="section-title">
                            <h2 class="mt-6 mb-3">BHARTI NETWORKS</h2>

                            <p>The Wireless telecommunications industry has undergone explosive growth and has become global in its scope and ambitions. Spectrum is becoming severely congested. Quality network design is no longer a “nicety”, but rather a necessity. With the New technologies like LTE , 3G, WiMax being introduced, competition is getting severe and the Telecommunications Industry is looking for simpler, cost effective and innovative ways to maintain the Networks. Bharti Networks was formed in 2016 and is primarily engaged in providing RF services &In building solutions to OEM’s, NEM’s and Telecom Operators. With established foot prints across the Globe, Bharti Networks has already started implementing Automation in its services resulting into Cost Efficient and improved delivery to its Customers. Bharti Networks has expanded itself to cover Turnkey solutions, RF Planning and Optimization, Network Performance Services, Switch Planning, IP Planning, Project management and End to End Services as a Solution, in its ambit of Services. It also undertakes task based projects requiring delivery of tangible results in the form of either cell site production or network quality improvement and has consistently met or exceeded Key Performance Indicators (KPI).</p>
                        </div>
                        <div class="section-title">
                            <h2 class="mt-5">What we've achieved</h2>
                            <div class="row mt-4 lh-3">
                                <div class="col-lg-12">
                                    <ul class="px-lg-0">
                                        <li class="mb-3">The Wireless industry still needs creative problem solvers, grounded in experience but aspiring to develop new solutions, well versed in all of the essential details of infrastructure equipment from manufactures the world over. We have ability to build team in minimum lead-time. Our presence in India &amp; Dubai enables us to access quicker and skilled resources.</li>
                                        <li class="mb-3">Effective project management begins with a complete understanding of the Wireless communications industry</li>
                                        <li class="mb-3">Project management is a methodology used to manage the effort of people, equipment and material to achieve a specific set of goals and objectives. Project management methodology is becoming one of the most popular management techniques used in the world today.We excell in it.</li>
                                        <li class="mb-3">Radio network planning comprises of radio network dimensioning, planning of the coverage, capacity, frequency allocation and interference analysis. Moreover it includes detailed planning, which concentrate on parameter planning with necessary field measurement.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Team</h2>

                </div>

                <div class="row">
                   
                    <div class="col-lg-12 mb-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="member d-flex align-items-start">
                            <div class="member-info">
                                <h4>Ashok Kumar Jha</h4>
                                <span>Chief Administrative Officer</span>
                                <p>Ashok Kumar Jha has over 37 years of working experience with 17 years in the telecom field and 20 Years in Indian Air Force. Before joining Bharati he has worked with companies like Nokia Networks and mighty Organisation Indian Air Force.</p>
                                <p>A versatile and natural leader, known for his belief that “Success usually comes to those who are too busy to be looking for it”.</p>
                                <p>Project Conception to Delivery, Operations and Maintenance, Installation and Commissioning, Team Collaborations, Procurement / Vendor Management, Relationship Management, General Management, Risk Management, and Budgeting / Cost Analysis is his core strength. He is a kind of person who is unwilling to settle for average; known to lead by example & challenge is something that excites him. </p>
                                <p>He has worked for Government and Private Operators in a various capacity and role and accomplished the task on schedule within budget.</p>
                                <p>He is a keen reader and enjoy in sharing his knowledge and guiding the new generation for their overall development.</p>
                                <p>He is a Mechanical Engineer and holds a Post Graduate Diploma in Management and undergone many certification courses on Project Management, Human Behaviour and Technical subjects.</p>
                                 <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                            <div class="pic" style="width:75% !important;"><img src="../assets/img/team/ashok.png" class="img-fluid" alt=""></div>
                        </div>
                    </div>

                    <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="../assets/img/team/Erafan.jpeg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Erafan Ansari </h4>
                                <span>Group COM Bharti Networks</span>
                                <p style="text-align: justify">Erafan Ansari has been associated with Bharti Networks from 2016. With over 9 years of experience in the Service industry across Technical & Business Development, Planning, Operations, and Services, he has worked with Many Companies as Manager – Payroll and Services where he was handling process implementation, new business initiatives and quality control. He holds a Bachelor’s degree from Uttar Pradesh Technical University.</p>
                                <p style="text-align: justify">We at Bharti Networks are striving to offer innovative and cost-effective solutions to our customers and always aim to be a key contributor and reliable partner through successful on-time work deliveries.</p>
                                <p style="text-align: justify">Telecom is transforming to the digital industry and so as we, at Bharti Networks we promote and adopt the latest technology changes like 5G, workflow automation, and continue investing in our in-house and upgrading resource skills.</p>
                                <p style="text-align: justify">As you browse through our website, you will get a sense of our offered services and solutions and we will continue to exert our best efforts to meet customer requirements.</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-12 mt-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="member d-flex align-items-start">
                            <div class="member-info">
                                <h4>Sudip Upadhayaya</h4>
                                <span>National Head Bharti Networks (Nepal).</span>
                                <p style="text-align: justify">Sudip Upadhayaya has been associated with Bharti Networks from 2019. With over 5years of experience in the Service industry across Strategy, Sales, Business Development, Planning and Operations, he oversees logistics with the People and Services vertical.Prior, he has worked with Many Companies where he was handling process implementation, new business initiatives and quality control. He holds a Bachelor’s degree from the Lincoln University ,MALASIYA and a Master’s degree in Business Management from the Tribhuvan University,Nepal. </p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                            <div class="pic"><img src="../assets/img/team/Sudip.jpeg" class="img-fluid" alt=""></div>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients" style="background-color: #0000000d;">
            <div class="container" data-aos="zoom-in">
                <div class="section-title">
                    <h2>Our Clients</h2>
                </div>
                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        @if (Model != null)
                        {
                            if (Model.lstClient != null)
                            {
                                int i = 1;
                                foreach (var item in Model.lstClient)
                                {
                                    <div class="swiper-slide"><img src="@item.Image" class="img-fluid" alt="ncr"></div>
                                    i++;
                                }
                            }
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Clients Section -->


    </main><!-- ===============================================-->


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}
