@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AboutUs", "Home", FormMethod.Post))
{
    <div class="breadcrumb-wrapper section-padding bg-cover" style="background-image: url('/assets/img/breadcrumb/aboutUs.jpg');">
        <div class="container">
            <div class="page-heading">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">about us</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.html">
                            Home Page
                        </a>
                    </li>
                    <li>
                        <i class="fal fa-minus"></i>
                    </li>
                    <li>
                        About Us
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<< About Section Start >>-->
    <section class="about-section fix section-padding">
        <div class="container">
            <div class="about-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-image-items">
                            <div class="border-shape">
                                <img src="/assets/img/about/border-shape.png" alt="shape-img">
                            </div>
                            <div class="about-image bg-cover wow fadeInLeft" data-wow-delay=".3s"
                                 style="background-image: url('/assets/img/about/about.jpg');">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <div class="about-content">
                            <div class="section-title">
                                <span class="wow fadeInUp">About Bharti Networks </span>
                                <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                    Bharti Networks
                                </h2>
                            </div>
                            <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                                “To provide Cost efficient Services for emerging Telecom Networks, carrying innovative products to enable our customers to achieve excellence in their performance”
                            </p>
                            <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                                The Wireless telecommunications industry has undergone explosive growth and has become global in its scope and ambitions. Spectrum is becoming severely congested. Quality network design is no longer a “nicety”, but rather a necessity. With the New technologies like LTE , 3G, WiMax being introduced, competition is getting severe and the Telecommunications Industry is looking for simpler, cost effective and innovative ways to maintain the Networks. Bharti Networks was formed in 2016 and is primarily engaged in providing RF services &In building solutions to OEM’s, NEM’s and Telecom Operators. With established foot prints across the Globe, Bharti Networks has already started implementing Automation in its services resulting into Cost Efficient and improved delivery to its Customers. Bharti Networks has expanded itself to cover Turnkey solutions, RF Planning and Optimization, Network Performance Services, Switch Planning, IP Planning, Project management and End to End Services as a Solution, in its ambit of Services. It also undertakes task based projects requiring delivery of tangible results in the form of either cell site production or network quality improvement and has consistently met or exceeded Key Performance Indicators (KPI).


                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-12 mt-5">
                        <div class="section-title text-center pb-0">
                            <h2 class="text-capitalize"> What We've  <span style="color:#f6b024">Achieved</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <p class="text-center">
                            The Wireless industry still needs creative problem solvers, grounded in experience but aspiring to develop new solutions, well versed in all of the essential details of infrastructure equipment from manufactures the world over. We have ability to build team in minimum lead-time. Our presence in India &amp; Dubai enables us to access quicker and skilled resources.
                        </p>
                        <ul class="mt-3">
                            <li>
                                <i class="far fa-check text-warning"></i>
                                Effective project management begins with a complete understanding of the Wireless communications industry
                            </li>
                            <li>
                                <i class="far fa-check text-warning"></i>
                                Project management is a methodology used to manage the effort of people, equipment and material to achieve a specific set of goals and objectives. Project management methodology is becoming one of the most popular management techniques used in the world today.We excell in it.
                            </li>
                            <li>
                                <i class="far fa-check text-warning"></i>
                                Radio network planning comprises of radio network dimensioning, planning of the coverage, capacity, frequency allocation and interference analysis. Moreover it includes detailed planning, which concentrate on parameter planning with necessary field measurement.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<< Brand Section Start >>-->
    <section class="brand-section fix section-padding py-5" style="background-color: #e8e8ef;">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    Our Clients
                </h2>
            </div>
            <div class="brand-wrapper">
                <div class="brand-carousel-active">
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/1.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/2.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/3.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/4.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/5.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/6.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/7.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/8.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/9.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/10.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/11.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/12.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/13.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/14.jpg" class="w-100" alt="brand-img">
                    </div>
                    <div class="brand-image shadow">
                        <img src="/assets/img/brand/15.jpg" class="w-100" alt="brand-img">
                    </div>
                    <!-- <div class="brand-image shadow">
                        <img src="assets/img/brand/16.jpg" class="w-100" alt="brand-img">
                    </div>   -->
                </div>
            </div>
        </div>
    </section>
}
