@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "alcoholDrugsPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("alcoholDrugsPolicy", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center policyBgDetails">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Alcohol and Drugs Policy</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>Introduction</h4>
                            <p>
                                Being under the influence of alcohol or drugs can seriously impair an individual’s judgement and reactions leading to an increased risk of accidents and injuries occurring. Alcohol and drug abuse problems can also have a detrimental effect on work performance and behaviour.
                            </p>
                            <p>
                                The aim of this policy is to ensure the safety of all employees, contractor and visitors by having clear rules in place regarding use and possession of alcohol and drugs, and to support those who have reported a problem with alcohol or drug dependence.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/polic3.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <h4 class="details_title">For the purpose of the policy, alcohol dependence is defined as:</h4>
                            <i>
                                "The habitual drinking of intoxicating liquor by an employee, whereby the employee's ability to perform his/her duties is impaired or his/her attendance at work is interfered with, or he/she endangers the safety of others".
                            </i>
                            <h4>Drug dependence is defined as:</h4>
                            <i>
                                "The habitual taking of drugs by an employee other than drugs prescribed as medication, whereby the employee's ability to perform his/her duties is impaired, or his/her attendance at work is interfered with, or he/she endangers the safety of others".
                            </i>
                            <p>This policy is designed to comply with relevant legislation such as the Health and Safety at Work Act 1974 and the Misuse of Drugs Act 1971</p>
                            <b class="text-muted d-block my-3">
                                Policy Provisions :
                            </b>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> Employees may not consume alcohol or any unlawful drugs in the workplace during work time or during a period prior to work where they may still be under the influence of alcohol and drugs effects which may carry over to the working hours. This includes business functions where the employee is representing the Company. Special rules may apply in relation to alcohol, where the Company sponsors an event for staff e.g. the Christmas party. In these circumstances any variation to the no-alcohol policy will be communicated in advance of the event.</li>
                                <li><i class="ri-check-double-line"></i> No employee shall be in possession of alcohol or illegal drugs in the workplace</li>
                                <li><i class="ri-check-double-line"></i> No employee should try to report to work when unfit due to alcohol or drugs.</li>
                                <li><i class="ri-check-double-line"></i> No employee shall supply others with illegal drugs or alcohol in the workplace.</li>
                                <li><i class="ri-check-double-line"></i> Employees who are taking prescription drugs should ensure that they are aware of any side effects and advise their manager or a member of the management team immediately of any side effects of prescription drugs, which may affect work performance or the health and safety of themselves or others</li>
                                <li><i class="ri-check-double-line"></i> The Company policy involves two approaches;</li>
                                <li><i class="ri-check-double-line"></i> Providing reasonable assistance to the member of staff with an alcohol or drug abuse problem who is willing to co-operate in treatment for that problem (see help and support below)</li>
                                <li><i class="ri-check-double-line"></i> Disciplinary rules, enforced through disciplinary procedures, where use of alcohol or drugs (other than on prescription) affects performance or behaviour at work ( see enforcement below)</li>
                            </ul>
                            <h4>General policy provisions</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> This policy applies to all employees</li>
                                <li><i class="ri-check-double-line"></i> All employees will be treated consistently and fairly in line with this policy and all matters concerning alcohol and drugs shall be treated as confidential.</li>
                                <li><i class="ri-check-double-line"></i> This policy will be communicated to all employees at induction and the policy will be made available on the intranet and / or employee handbook.</li>
                                <li><i class="ri-check-double-line"></i> The Company will raise awareness of alcohol or drug issues in the workplace and will provide signposting to employees of the support that is available. This awareness raising will include providing information leaflets, information on staff notice boards and /or be included on the wellbeing pages on the intranet.</li>
                                <li><i class="ri-check-double-line"></i> All Managers will receive training on how to identify, deal with and provide support to staff that may have alcohol and drug issues.</li>
                            </ul>
                            <h4>Enforcement</h4>
                            <p>The policy on alcohol and drugs will be strictly enforced.</p>
                            <p>Disciplinary action in accordance with the Company disciplinary procedures will be undertaken where breaches of the policy occur. In the case of agency workers or contractors, services may be terminated immediately upon a breach of the policy.</p>
                            <p>When there is reasonable belief that an individual is under the influence of alcohol or drugs on reporting for work or during the course of work, they must be sent home immediately. In addition, possession of or dealing in illegal drugs on Company premises will, without exception, be reported to the Police.</p>
                            <h4 >Help and support:</h4>
                            <p>Employees with an illness related to alcohol and drugs are encouraged to disclose this at the earliest opportunity to ensure support and help with treatment.</p>
                            <b class="text-muted d-block my-3">Those who admit to having a problem with alcohol or drugs will be fully supported as follows:</b>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> The Line Manager will help the employee to recognise the problem. This will be through in the first instance encouraging them to seek help through their own General Practitioner. Under these circumstances and with the employee’s consent, a referral will be made to the Occupational Health service, qualified diagnostic or counselling service.</li>
                                <li><i class="ri-check-double-line"></i> Time off may be allowed (normally unpaid) for employees to obtain treatment or attend support groups.</li>
                                <li><i class="ri-check-double-line"></i> Support during a period of treatment .This may include a period of sick leave or approved other leave, restricted duties or temporary transfer to other work (if this is feasible).</li>
                            </ul>
                            <p>It is recognised the policy has limitations. If an employee fails to co-operate in referral or treatment no special assistance will be given and any failure in work performance and behaviour will be dealt with through disciplinary procedures.</p>
                            <h4>Sources of External Support</h4>
                            <b class="text-muted d-block my-3">NHS Choices Website</b>
                            <a class="mb-2 d-block font-weight-bold" target="_blank" href="https://www.nhp.gov.in/healthlyliving/alcohol-use-disorder">https://www.nhp.gov.in/healthlyliving/alcohol-use-disorder</a>
                            <p>National Health Service advice page.</p>
                            <b class="text-muted d-block my-3">Al-Anon</b>
                            <a class="mb-2 d-block font-weight-bold" target="_blank" href="https://al-anonalateenindia.org/">https://al-anonalateenindia.org/</a>
                            <p>Provide support to anyone whose life is, or has been, affected by someone else’s drinking, regardless of whether that person is still drinking or not.</p>
                            <b class="text-muted d-block my-3">Alcoholics Anonymous</b>
                            <a class="mb-2 d-block font-weight-bold" target="_blank" href="http://www.aagsoindia.org/">http://www.aagsoindia.org/</a>
                            <p>A is an organisation of men and women who share their experience with each other hoping to solve their problems and help others to recover from alcoholism.</p>
                            <b class="text-muted d-block my-3">Narcotics Anonymous</b>
                            <a class="mb-2 d-block font-weight-bold" target="_blank" href="http://napunjab.com/">http://napunjab.com/</a>
                            <p><b>Helpline for the India : </b> <a href="tel:0522-4077405">0522-4077405</a></p>
                            <p>
                                N.A. is a non-profit fellowship of recovering addicts who meet regularly to help each other stay clean. Membership is open to anyone with a drug problem seeking help, regardless of what drug or combination of drugs have been used, and irrespective of age, sex, religion, race, creed or class. The only requirement for membership is a desire to stop using drugs.
                            </p>
                        </div>
                    </div>
                </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}








