@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "cobce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("cobce", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center policyBgDetails">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Code of Business Conduct & Ethics</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                           <h4>INTRODUCTION</h4>
                            <p>
                                This Code of Business Conduct (the “Code”) defines the ethical behaviour of <a href="/Home/Index" target="">Bharti Networks</a> and its subsidiaries. It is designed to help directors, officers, employees and consultants make business decisions consistent with the Company’s values, and to behave in a manner that reflects high ethical standards.
                            </p>
                            <p>
                                Throughout this document the term employees refers to directors of the Company and individuals employed with the Company. This Code applies to all directors, officers and employees regardless of their position within the organization. It is the responsibility of employees to ensure that consulting contracts require consultants to agree to be bound by this Code.
                            </p>
                            <p>
                                Application of the principles outlined in this Code is essential to achieving the Company’s objectives. Every employee is responsible for knowing the contents of the Code and applying its principles in day-to-day business activities.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/polic1.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <h4 class="details_title">The following Principles of Business Conduct provide the foundation for the Code:</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> Doing what is right;</li>
                                <li><i class="ri-check-double-line"></i> Respecting the rights of others;</li>
                                <li><i class="ri-check-double-line"></i> Obeying the law;</li>
                                <li><i class="ri-check-double-line"></i> Maintaining the integrity and confidentiality of information;</li>
                                <li><i class="ri-check-double-line"></i> Avoiding conflicts of interest; and</li>
                            </ul>
                            <p>
                                This Code has been approved by the Board of Directors of the Company and applies to the Company and its controlled subsidiaries.
                            </p>
                            <p>
                                Employees must not only consider whether they are in compliance with this Code, but also how their decisions and actions will appear to an outside party. The perception of wrongdoing is potentially as damaging as an actual breach of ethics. Therefore, it is essential that employees not only conduct Company business according to high ethical standards, but also be seen to do so
                            </p>
                            <h4>RESPONSIBILITY</h4>
                            <p>
                                This Code outlines a framework of guiding principles. As with any statement of policy, the exercise of judgment is required in determining the applicability of this Code to each individual situation. It is every employee’s responsibility to read and understand the Code and comply with the Code in both letter and spirit. Follow the law wherever you are and in all circumstances. Never engage in behavior that may harm the reputation of the Company.
                            </p>
                           <h4>PRINCIPLES OF BUSINESS CONDUCT</h4>
                            <b>Doing What is Right</b>
                            <p>
                                To be ethical is to know the difference between right and wrong, and to do what is right. Before taking any action employees must always ask the following questions:
                            </p>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> is it legal?</li>
                                <li><i class="ri-check-double-line"></i> is it fair?</li>
                                <li><i class="ri-check-double-line"></i> is it right?</li>
                             </ul>
                            <p>
                                Where an employee is uncertain about the ethics or legality of any planned action, it is his or her responsibility to consult with a supervisor, manager or Board Chair as appropriate or seek advicefrom any of the sources listed in this Code.
                            </p>
                            <b>
                                Respecting the Rights of Others
                            </b>
                            <b class="text-muted d-block mt-2">
                                Employee Rights
                            </b>
                            <p>
                                Management makes decisions regarding hiring and promotion of employees on the basis of merit and in accordance with human rights legislation.
                            </p>
                            <p>
                                Employees have the right to pursue their careers at the Company free from discrimination based on any ground, including age, sex, race, colour, religion, creed, national origin, citizenship, language, marital status, family status, pregnancy or childbirth, sexual orientation, disability or political belief
                            </p>
                            <p>
                                - No personal relationship between an employee and any other employee shall be permitted to compromise, or appear to compromise, the principles defined by this Code.
                            </p>
                            <b class="text-muted d-block mt-2">
                                Company Property
                            </b>
                            <p>
                                Company assets may only be used for business purposes. Employees of the Company have responsibility to ensure that the Company assets are put to good use. All persons entrusted with managerial or supervisory responsibility are responsible for ensuring that appropriate policies, procedures and controls are put in place to safeguard these assets.
                            </p>
                            <b class="text-muted d-block mt-2">
                                Obeying the Law
                            </b>
                            <p>
                                The Company operates within a complex framework of federal, provincial and municipal laws.In addition to USA laws, the Company is also subject to the laws and regulations of foreign countries in which it does business. Employees are expected to comply with applicable laws and regulations of USA and any other country where the Company carries on business. Unlawful conduct will not be tolerated, even when the intent is to further corporate objectives. Employees are encouraged to seek advice from the CEO or the CFO if they are unclear about laws relatingto their work.
                            </p>
                            <p>
                                No employee shall create or condone the creation of a false record. No employee shall destroy or condone the destruction of a record, except in accordance with the Company policies.
                            </p>
                            <b class="text-muted d-block mt-2">
                                Maintaining Integrity and Confidentiality of Information
                            </b>
                            <p>
                                The integrity of the Company’s corporate records and financial reporting is critical to its corporate success. All assets, liabilities and transactions must be accurately and completely reported in the books and supported by necessary documentation. No asset, liability or transaction is to be concealed from management, the Board, or the Company’s internal or external auditors.
                            </p>
                            <p>
                                All transactions must be authorized and executed in accordance with the Company’s policies and the instructions of management. Appropriate accounting and financial policies, procedures, controls and audit processes must be maintained.
                            </p>
                            <b class="text-muted d-block mt-2">
                                Confidentiality of Information -
                            </b>
                            <p>
                                Many employees have access to corporate information that is sensitive or confidential. Information such as trade secrets, technical information, employee records, payroll records, client information, company strategies, financial and competitive information is all confidential. Release of such information is potentially harmful to the Company, employees and clients. In some cases it is illegal. Employees must use extreme care when dealing with confidential or sensitive information. As a general rule, such information shallnot be released to anyone inside or outside of the Company who is not authorized or legally entitled to receive it. The disclosure of the Company’s confidential information or proprietary information to external entities (other than approved auditors, lawyers) must be authorized by a Director of the Company and should be limited to those who have a strict “need-to-know”. Any disclosure to these external entities must be made subject to the completion of a confidentiality agreement restricting the recipient from disclosing or using the information in an unauthorized manner.
                            </p>
                            <b class="text-muted d-block mt-2">
                                Conflicts
                            </b>
                            <p>
                                A conflict of interest arises when an employee must choose between the Company’s best interests and his or her own. Any situation where an employee’s judgment may be compromised,where he or she shows undue favoritisms to any party or where he or she receives a benefit of some kind is potentially a conflict of interest. All employees must strive to avoid situations that create a conflict, create the appearance of a conflict, or have the potential to create a conflict. If any of these situations occur, employees are responsible for disclosing and, where appropriate, taking action to remedy the conflict of interest. In most instances, such disclosures should be made by an employee to his or her immediate supervisor.
                            </p>
                          </div>
                        <div class="details_heading">
                            <h4>COMPLIANCE WITH THIS CODE</h4>
                            <p>
                                It is critical to the Company’s success that employees conduct themselves ethically and legally in every aspect of their business activities. Every employee of the Company and its controlled subsidiaries is required to comply with this Code.
                            </p>
                            <h4>REPORTING VIOLATIONS</h4>
                            <p>
                                Any employee who reasonably believes a violation of this Code has occurred has an obligation to report the violation to an appropriate Company official. Possible violations should be reported to an appropriate supervisor in the employee’s work area. However, where an employee is uncertain as to how a violation of this Code should be reported, or is not comfortable going to his or her supervisor, the employee should consult with the CEO or CFO.
                            </p>
                            <p>
                                The Company will not take or allow any reprisal against an employee for, in good faith, reporting a suspected violation of this Code. Any such reprisal will in itself be considered a very serious breach of this Code and subject to disciplinary action.
                            </p>
                        </div>
                    </div>
            </div>
                </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}


