@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "compliancesCertifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("compliancesCertifications", "Home", FormMethod.Post))
{
   
    
    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center heromanpower">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Compliances And Certifications</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section>
<!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-12">
                        <div class="section-title pb-0">
                            <h2 class="text-capitalize"> Compliances and   <span style="color:#f6b024">Certifications</span></h2>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 mb-3">
                        <p>
                            We operationalize our Integrity culture through a variety of Compliance processes as described below:
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <i class="ri-check-double-line"></i>
                                <b>Provident Fund </b>– Fully complaint to the EPFO’s Rules & Regulations.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>
                                <b>ESIC/Insurance</b>  – Providing social security & healthcare to all our employees.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i>
                                <b>Workmen Compensation & Medical</b> – Apart from ESIC, to safeguard all the employees and their families against various risks.
                            </li>
                        </ul>
                    </div>
                </div>






                <div class="row portfolio-container">
                    <div class="col-lg-3 col-md-6 mb-3 portfolio-item filter-app ">
                        <div class="certificateContent">
                            <a href="/assets/img/certificate3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                                <img src="/assets/img/certificate3.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 portfolio-item filter-app">
                       <div class="certificateContent">
                           <a href="/assets/img/certificate2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                               <img src="/assets/img/certificate2.jpg" class="img-fluid" alt="">
                           </a>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 portfolio-item filter-app">
                       <div class="certificateContent">
                           <a href="/assets/img/certificate4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                               <img src="/assets/img/certificate4.jpg" class="img-fluid" alt="">
                           </a>
                       </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3 portfolio-item filter-app">
                       <div class="certificateContent">
                           <a href="/assets/img/certificate1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                               <img src="/assets/img/certificate1.jpg" class="img-fluid" alt="">
                           </a>
                       </div>
                    </div>
                </div>

             </div>
</section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->

    
}
