@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "ContractualStaffing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ContractualStaffing", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center resourceManagement">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Contractual Staffing</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>Contractual Staffing</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> <b>Talent Sourcing and Recruitment:-</b> Atvantiq excel at sourcing and recruiting qualified candidates for various industries and job roles. They maintain extensive talent networks, databases, and recruitment strategies to identify and attract skilled professionals. We have expertise in screening candidates, conducting interviews, verifying qualifications, and checking references to ensure the quality of the candidates they provide.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/resource2.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> <b>Flexible Staffing Solutions:- </b>
                                    Atvantiq has ability to provide flexible staffing solutions. Whether a business requires temporary staff to cover seasonal demands, project-based assignments, or short-term vacancies, these agencies can quickly and efficiently match skilled professionals with the specific needs of the client.</li>

                                <li>
                                    <i class="ri-check-double-line"></i> <b>Industry Expertise:- </b>
                                    We specialized in IT, Telecom & Govt sector hiring, allowing them to develop deep domain knowledge and expertise. They understand the unique requirements, skill sets, and challenges within these industries, enabling them to identify and provide candidates who possess the necessary qualifications and experience.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Candidate Assessment and Screening:- </b>
                                    We undertake rigorous candidate assessment and screening processes to ensure the competence and suitability of the individuals they recommend. This can include evaluating technical skills, conducting behavioral assessments, verifying work experience, and assessing cultural fit within the client organization.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Compliance and Legal Support:-  </b>
                                    We are well-versed in employment laws, regulations, and compliance requirements. We provide guidance and support to both clients and candidates, ensuring that all necessary legal and regulatory obligations are met. This includes matters such as payroll, taxes, benefits, worker's compensation, and other legal aspects related to temporary employment.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b> Onboarding and Training:- </b>
                                    we always ensure the onboarding process, including necessary paperwork, orientation, and training. This ensures that the workers are well-prepared and integrated into the client's workforce seamlessly. Payroll and Administrative Services: we take care of the administrative tasks associated with employing temporary workers. This includes managing payroll, benefits administration, tax deductions, and other HR-related functions. By outsourcing these tasks, the client can focus on their core business activities.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Employee Management and Support:-  </b>
                                    we maintain ongoing relationships with temporary workers throughout their assignments. We address any performance issues, provide necessary support and guidance, and handle employee relations matters. This helps to ensure a positive work experience for the temporary workers and promotes a healthy work environment.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}






















