@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "HiraPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("HiraPolicy", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center policyBgDetails">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Hira Policy</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>PROCEDURE FOR RISK IDENTIFICATION AND PREVENTION TO HEALTH & SAFETY VRFM-/PR/HS RISK/01</h4>
                            <h6>1. Purpose</h6>
                            <p>
                                To establish a documented procedure for ongoing identification, assessment and prevention of potential threats (hazards/risks) to health and safety of all personnel and implementation of necessary control measures to eliminate the hazards/risks or reduce it to reasonable limits.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/polic5.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <h4>2. Scope</h4>
                            <b class="text-muted d-block my-3">All hazards/risks associated with following activities are covered in the scope of this procedure:</b>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> Routine and non-routine activities;</li>
                                <li><i class="ri-check-double-line"></i> Activities of all personnel having access to the workplace (including subcontractors and visitors);</li>
                                <li><i class="ri-check-double-line"></i> Facilities at the workplace, whether provided by the company or others.</li>
                            </ul>
                            <h4>3. Responsibility</h4>
                            <p>
                                The Management will take all responsibility in every departments.
                            </p>
                            <h4>4. Procedure</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> Company's methodology for hazard identification and associated risk assessment/control is proactive. It has established adequate systems to detect, avoid or respond to potential threats to the health and safety of all personnel.</li>
                                <li><i class="ri-check-double-line"></i> While purchasing various equipment it is ensured that they have required safety measures/controls.</li>
                                <li><i class="ri-check-double-line"></i> Assessments to identify potential threats to health and safety are done every two years or as and when need arises, such as, start-up of new operations/activities (e.g., new products, new routes),</li>
                                <li><i class="ri-check-double-line"></i> Identified threats are evaluated to determine their significance on the basis of their occurrence, ease of detection and severity. Measures and controls are implemented to eliminate the identified threats or to reduce them to a reasonable degree. Effectiveness of control measures is evaluated to ensure that control measures are effective.</li>
                                <li><i class="ri-check-double-line"></i> If required, training needs are identified and concerned personnel are trained on the control measures.</li>
                            </ul>
                            <h4>5. Records</h4> 
                            <p>Records of risk identification and control</p>
                            <b class="text-muted d-block my-3">PROCEDURE FOR CONTROL OF NONCONFORMING PRODUCTS VRFM-/PR/NCR/02</b>
                            <ul class="list-unstyled">
                                <li>
                                <i class="ri-check-double-line"></i> <b>1.0 PURPOSE</b> 
                                    The purpose of this procedure is     to identify, document, evaluate, segregate and      disposition of nonconforming materials.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>2.0 SCOPE</b>
                                    :- The scope of this procedure covers control of all the nonconforming products i.e. raw materials, in-process products, packing materials and finished products.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>3.0 RESPONSIBILITY</b>
                                    :- The Management and each head of the deptt. will take all responsibility in every department. Is responsible for control of non-conforming products in his department.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>4.0 PROCEDURE</b>
                                    :- All the raw materials, packing materials, intermediate products and finished goods which are not conforming to the relevant specifications are uniquely identified.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>4.2</b>
                                    :- As a matter of policy the company does not intend to dispatch any material under concession unless the customer demands for the same.
                                </li>
                            </ul>


                            <h4>6. Records</h4>
                            <b class="text-muted d-block my-3">PROCEDURE FOR CORRECTIVE AND PREVENTIVE ACTIONS VRFM-/PR/CA&PA/03</b>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="ri-check-double-line"></i> <b>PURPOSE</b>
                                    :- To establish and maintain a Procedure for:
                                    <ul>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Initiating corrective actions to prevent recurrence of nonconformity and eliminate causes of potential nonconformity.
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Handling of complaints received from customer/stake holders.
                                        </li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Scope </b>
                                    :- This procedure covers non-conformities related to all products, processes and systems and complaints received from customer/stake holders.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Responsibility </b>
                                    :- The Management and each head of the deptt. will take all responsibility in every department. Is responsible for control of non-conforming products in his department.HOD is overall responsible for the implementation of this procedure.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Description  </b>
                                    <ul>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Whenever any Non-Conforming product is observed enter details in the relevant Non-conformity Register
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Investigate the cause of investigation with the concerned personnel and determine the corrective action to be taken
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Record the corrective action in the Nonconformity register and take or advise the concerned personnel for taking the corrective action
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Review the Non-conformity register every month and ensure that the type of nonconformity is not recurring.
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            If the type of nonconformity is repeated, follow steps 4.2 onwards
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Review and consolidate the summary of rejection / rework data for MRM, failures in final inspection, difficulties faced with vendors, concessions, in- process waste level including rework/rejection, audit results and customer/stake holder complaints for discussion in the MRM
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Discuss the result of investigation with the concerned personnel and determine the corrective action to be taken
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Discuss and analyze the consolidated report to set the priorities for areas of operations needing improvement and decide the preventive actions to be initiated.
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Whenever a procedure/document is to be revised, as a result of corrective / preventive actions, follow the Section on document and data control
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Receive customer/stake holder complaints verbally, over telephone / by letter / telex or fax and record in chronological order
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            In case the complaint pertains to technical features/performance, the same is discussed with Prod Supervisor
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Take appropriate correction and corrective action and maintain records.
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Monitor the action taken and close the compliant if action taken found to be effective. Inform the customer/stake holder.
                                        </li>
                                        <li>
                                            <i class="ri-check-double-line"></i>
                                            Update the complaints register for each of the actions taken, till the closure of complaint.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Doc - Customer Complaint </b>
                                   <ul>
                                       <li><i class="ri-check-double-line"></i> 
                                           Non Conformity Record
                                       </li>
                                   </ul>
                                </li>
                            </ul>


                            <b class="text-muted d-block my-3">PROCEDURE FOR DOCUMENT CONTROL VRFM-/PR/DC/04</b>
                            <h4>1. Purpose</h4>
                            <b>To establish a procedure for</b>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i>  Identification, preparation, review and approval of internally generated documents.</li>
                                <li><i class="ri-check-double-line"></i> Ensure legibility and retrieve ability of document.</li>
                                <li><i class="ri-check-double-line"></i> Controlling document of external origin.</li>
                            </ul>
                            <h4>2. Scope</h4>
                            <p>
                                All documents and data essential for the implementation of Manual, Work Instruction, Procedure, Plans And forms
                            </p>
                            <h4>3. Responsibility</h4>
                            <p>
                                The Management and each head of the deptt. will take all responsibility in every department. Is responsible for control of non-conforming products in his department.
                            </p>
                            <h4>4. Description</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> 4.1 Preparation of Documents.</li>
                                <li><i class="ri-check-double-line"></i> 4.2 Issue Control</li>
                                <li><i class="ri-check-double-line"></i> 4.3 Document Changes / Revisions</li>
                                <li><i class="ri-check-double-line"></i> 4.4 Document Numbering.</li>
                                <li><i class="ri-check-double-line"></i> 4.5 Results of these investigations are documented, maintained, and communicated to the safety Committee.</li>
                                <li><i class="ri-check-double-line"></i> 4.6 Safety Committee reviews result of these investigations and advise on any improvements.</li>
                                </ul>
                            <h4>Records</h4>
                            <p>
                                List of Documents.
                            </p>
</div>
                        </div>
                    </div>
                </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}












