@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "HumanLabourRightPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("HumanLabourRightPolicy", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center policyBgDetails">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Human and Labour Right Policy</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>Purpose of the Policy</h4>
                            <p>
                               Bharti Networks is committed to demonstrating global citizenship by respecting the basic rights of all stakeholders that it encounters through products, services, contracts, purchases, and other business operations. It respects the human rights of its customers, employees, suppliers, partner companies and the community, in accordance with the Indian Constitution and the applicable Indian Labor Laws. It is also guided by fundamental principles of human rights, such as those enumerated in the United Nations Universal Declaration of Human Rights and the International Labour Organization’s Declaration on Fundamental Principles and Rights at Work.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/polic4.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <p>
                                This policy is intended to express KCPL commitment to do business with ethical values and embrace practices that support human rights, in every geography that we operate in. This Policy applies to our direct and indirect business operations including subsidiaries and suppliers, who shall be committed to uphold the integrity of this policy, in every geography that we operate in.
                            </p>
                            <h4 class="details_title">Principles of the Policy</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> <b>Equal opportunity and non-discrimination</b> :- It is KCPL constant endeavor to ensure there is no discrimination on the basis of gender, ethnicity, religion, nationality, social origin, political opinion, disability, and race, with respect to employment and occupation. KCPL is committed to building a culture based on diversity and inclusion, wherein all employees, including potential candidates can compete in a fair, open and transparent environment. Merit in qualification, performance and capability form the sole criteria for selection. Wages, hours of work and social benefits, are based on applicable local laws and regulations as well as prevailing market standards and practices. However, KCPL strives to ensure that employees receive equal pay for equal work, irrespective of their gender, and remediate if inequalities are found.</li>
                                <li><i class="ri-check-double-line"></i> <b>Harassment-free workplace </b> :- KCPL is committed to providing a work environment free from all forms of harassment, whether physical, verbal or psychological. Employees have the right to freedom of opinion and expression.</li>
                                <li><i class="ri-check-double-line"></i> <b>Freedom of association</b> :- KCPL respects the right of employees to exercise their lawful right of freedom of association.</li>
                                <li><i class="ri-check-double-line"></i> <b>Safe and healthy workplace</b> :- KCPL strives to institutionalize health and safety processes, with special focus on aspects such as women’s safety, assistance to persons with disability, emergency response and preventive health & safety measures.</li>
                                <li><i class="ri-check-double-line"></i> <b>Prohibition of child labor and forced labor</b>  :- KCPL is committed to prevent child labor and forced labor including bonded labor, slavery and human trafficking.</li>
                                <li><i class="ri-check-double-line"></i> <b>Data Privacy</b> :- KCPL is committed to protect the data privacy of its employees, customers and suppliers. We do not disclose information to third parties without explicit consent of our stakeholders, unless required by law to do so. We have an optimal security system for preventing leaks and security incident management process allows reporting of data breaches and policy violations.</li>
                                <li><i class="ri-check-double-line"></i> <b>Access to Information</b>  :- KCPL is committed to ensure equality of access to services regardless of class/ disabilities. It is our constant effort to bridge the digital divide with respect to accessing information about our plans and using our services. We are also committed to function in a responsible manner to protect minors, including children and adolescents from information, distributed by us.</li>
                                <li><i class="ri-check-double-line"></i> <b>Prevention of Misuse of Technologies, Services, and Data </b> :- KCPL strives to ensure that our technologies, electronic devices and data are not put to any misuse such as wiretapping, signal interference or hacking</li>
                            </ul>
                            <h4>Grievance mechanism</h4>
                            <p>KCPL is committed to prevent any human rights violation and provides all its employees, vendors and suppliers a secure and 24x7 access to raise grievances and to report confidentially and anonymously any breach in the Human Rights Policy.</p>
                        </div>
                    </div>
                </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}










