@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "ItStaffing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ItStaffing", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center resourceManagement">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">IT Staffing</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->
     
    <main id="main">
        <section class="services section-bg about">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/software-development.jpg" />
                            </div>
                            <h3 class="ml-2">IOS Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/mobile-development.jpg" />
                            </div>
                            <h3 class="ml-2">Android Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/website.jpg" />
                            </div>
                            <h3 class="ml-2">UI Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/full-stack.jpg" />
                            </div>
                            <h3 class="ml-2">Full Stack developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/software-development.jpg" />
                            </div>
                            <h3 class="ml-2">IOS Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/html-developer.jpg" />
                            </div>
                            <h3 class="ml-2">HTML Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/php.jpg" />
                            </div>
                            <h3 class="ml-2">PHP</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/python.jpg" />
                            </div>
                            <h3 class="ml-2">Python</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/web-administrator.jpg" />
                            </div>
                            <h3 class="ml-2">Network Consulting Engineer (L3,L2,L1)</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/3d-modeling.jpg" />
                            </div>
                            <h3 class="ml-2">Software Architecture(SA)</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/cloud-computing.jpg" />
                            </div>
                            <h3 class="ml-2">Cloud Integrations Developer</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/sap.jpg" />
                            </div>
                            <h3 class="ml-2">SAP ABAP</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/azure.jpg" />
                            </div>
                            <h3 class="ml-2">Azure</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/net.jpg" />
                            </div>
                            <h3 class="ml-2">.NET</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/angular.jpg" />
                            </div>
                            <h3 class="ml-2">Angular</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/ts.jpg" />
                            </div>
                            <h3 class="ml-2">Typescript</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/configuration.jpg" />
                            </div>
                            <h3 class="ml-2">Program Manager</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/project.jpg" />
                            </div>
                            <h3 class="ml-2">Project Manager</h3>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-3 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box DevelopoServiceBox hvr-float-shadow">
                            <div class="icon rounded p-2">
                                <img src="~/assets/img/services-icons/cyber-security.jpg" />
                            </div>
                            <h3 class="ml-2">Cyber Security-Insider Threat and Forensics Requirement</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}
























