@{
    ViewBag.Title = "Metro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero-new" class="d-flex justify-cntent-center align-items-center herometro">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown text-uppercase mt-3 text-white text-center mb-0 fs-md-4 fs-2 ">Metro</h2>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- ======= Contact Section ======= -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title my-3">
                        <h2>Building Condition Surveys</h2>
                        <p>Building Condition surveys are becoming increasingly important and standardized in approach but are a high risk service with the potential for legal consequences if mistakes are made. Professionals therefore require clear, up-to-date advice on how to inspect and report accurately and this book provides a one-stop shop of uniquely practical, concise and accessible guidance written by one of the leading authorities in the field. The key coverage includes:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <img src="~/assets/img/metro-2.jpeg" class="img-fluid" />
                </div>
                <div class="col-sm-7">
                    <ul class="list-unstyled">
                        <li><i class="ri-check-double-line"></i> Domestic and commercial surveys; surveys for historic, new and dilapidated buildings</li>
                        <li><i class="ri-check-double-line"></i> Improvements to surveys including the inclusion of color photographs, condition ratings, use of the term ‘technical due diligence’ and increased professionalization
                         New techniques for further investigation including thermography, endoscopy and ground radar</li>
                        <li><i class="ri-check-double-line"></i> Advances in the diagnosis of causes of masonry cracking</li>
                        <li><i class="ri-check-double-line"></i> New hazards</li>
                        <li><i class="ri-check-double-line"></i> Updated to reflect the latest RICS regulations, legislation and guidance on building surveying</li>
                        <li><i class="ri-check-double-line"></i> Case studies of both bad and good practice and images to illustrate real world problems and solutions</li>
                        <li><i class="ri-check-double-line"></i> Specialist Advice, Equipment,The Inspection Procedure, Inspecting the Essentials Inspecting Services and Environment, Inspecting Other Elements, Writing the Report. Case Study of a Good or Poor Building Survey Report</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-4">
                    <img src="~/assets/img/metro-1.jpeg" class="metro-img img-fluid" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/img/metro-3.jpeg" class="metro-img img-fluid" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/img/metro-4.jpeg" class="metro-img img-fluid" />
                </div>
            </div>
        </div>
    </section>
    </main>



