@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "PermanentStaffing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PermanentStaffing", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center resourceManagement">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Permanent Staffing</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>Permanent Staffing</h4>
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> <b>Job Analysis:-</b> The first step in the process is to analyze the job requirements, responsibilities, and qualifications necessary for a specific position. This helps in understanding the skills and attributes needed in a candidate.</li>
                                <li><i class="ri-check-double-line"></i> <b>Sourcing Candidates:-</b> There are various methods for sourcing candidates, including online job portals, employee referrals, professional networks, social media platforms, and recruitment agencies. These channels are utilized to attract potential candidates who match the desired criteria.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/resource1.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <ul class="list-unstyled">
                                <li><i class="ri-check-double-line"></i> <b>Screening and Assessment:-</b> Once the applications are received, the screening process begins. Resumes and cover letters are reviewed, and candidates who meet the initial requirements are shortlisted. Further assessment methods such as interviews, skill tests, aptitude tests, and reference checks may be conducted to evaluate the candidates' suitability for the position.</li>

                                <li><i class="ri-check-double-line"></i> <b>Selection and Offer:- </b> 
                                    The final selection is made based on the candidate's performance during the screening and assessment stages. An offer is extended to the chosen candidate, including details about salary, benefits, and other employment terms. Negotiations may occur during this stage.</li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Onboarding:-</b>
                                    After the candidate accepts the offer, the onboarding process begins. This involves completing necessary paperwork, introducing the new employee to the organization's policies and culture, providing orientation, and assigning initial tasks.
                                </li>
                                <li>
                                    <i class="ri-check-double-line"></i> <b>Integration and Retention:- </b>
                                    Once the employee starts working, it is important to ensure their smooth integration into the company. This involves ongoing support, training, and development opportunities to help them succeed in their role. Retention strategies, such as providing a positive work environment, career growth opportunities, and competitive compensation, are crucial to retain top talent in the long run.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}


















