@model BhartiNetwork.Models.Home
@{
    ViewBag.Title = "safeDrivingPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("safeDrivingPolicy", "Home", FormMethod.Post))
{

    <!-- ======= Hero Section ======= -->
    <section id="hero-new" class="d-flex justify-cntent-center align-items-center policyBgDetails">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown text-white text-center mb-0 fs-md-4 fs-2 ">Safe Driving Policy</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
    <section class="py-4 "></section><!-- <section> close ============================-->
      <!-- ============================================-->

    <main id="main">
        <section class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-md-6 col-lg-7">
                        <div class="details_heading">
                            <h4>Aim of this Policy</h4>
                            <p>
                                The aim of this policy is to prevent accidents Involving company vehicles, rented vehicles and injuries by promoting a safe driving culture within the company.
                            </p>
                            <h5>Objectives of the Policy</h5>
                            <p>
                                To ensure that staff who drive vehicles in the course of their work demonstrate safe, efficient driving skills and other good road safety habits at all times.
                            </p>
                            <p>
                                To maintain all company vehicles in a safe, clean and roadworthy condition to ensure the maximum safety of the drivers, occupants and other road users.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div>
                            <img src="~/assets/img/polic2.jpg" class="img-fluid rounded" />
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 ">
                        <div class="details_heading">
                            <h4 class="details_title">Code of conduct</h4>
                            <p>
                                "While driving company vehicles or own vehicles for work purposes, staff must comply with traffic regulations, be conscious of road safety and demonstrate safe driving and other good road safety habits".
                            </p>
                            <b class="text-muted d-block my-3">
                                The following actions in company vehicles will be viewed as serious breaches of conduct and dismissal may be a consequence:</b>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i> Drinking or being under the influence of drugs while driving</li>
                                    <li><i class="ri-check-double-line"></i> Driving while disqualified or not correctly licensed</li>
                                    <li><i class="ri-check-double-line"></i> Reckless or dangerous driving causing death or injury</li>
                                    <li><i class="ri-check-double-line"></i> Failing to stop after a crash</li>
                                    <li><i class="ri-check-double-line"></i> Any actions that warrant the suspension of a license.</li>
                                </ul>
                                <h4>Responsibilities as an Employee</h4>
                                <h5>Every driver of a company vehicle will:</h5>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i> Ensure they hold a current driver license for the class of vehicle they are driving and this license is carried when driving a company vehicle.</li>
                                    <li><i class="ri-check-double-line"></i> Immediately notify their supervisor or manager if their driver license has been suspended or cancelled, or has had limitations placed upon it</li>
                                    <li><i class="ri-check-double-line"></i> Display the highest level of professional conduct when driving a company vehicle.</li>
                                    <li><i class="ri-check-double-line"></i> Regularly check the oil, tyre pressures, radiator and battery levels of company vehicles they regularly use.</li>
                                    <li><i class="ri-check-double-line"></i> Comply with traffic regulations when driving.</li>
                                    <li><i class="ri-check-double-line"></i> Assess hazards while driving and anticipate "what if' scenarios.</li>
                                    <li><i class="ri-check-double-line"></i> Drive within the legal speed limits.</li>
                                    <li><i class="ri-check-double-line"></i> Wear a safety belt at all times.</li>
                                    <li><i class="ri-check-double-line"></i> Never drive under the influence of alcohol or drugs, including prescription and over the counter medication if they cause drowsiness - to do so will merit disciplinary measures.</li>
                                    <li><i class="ri-check-double-line"></i> Avoid distraction when driving - the driver must adjust car stereos/mirrors etc before setting off, or pull over safely in order to do so.</li>
                                    <li><i class="ri-check-double-line"></i> Report any near-hits, crashes to their manager, including those that do not result in injury.</li>
                                    <li><i class="ri-check-double-line"></i> Report vehicle defects to the maintenance manager before the next vehicle use.</li>
                                    <li><i class="ri-check-double-line"></i> Plan their journeys, taking into account pre-journey work duties, the length of the trip.</li>
                                    <li><i class="ri-check-double-line"></i> Stay overnight if driving time and non-driving duties exceed 10 hours in one day.</li>
                                </ul>
                                <h4>Responsibilities as an Employer</h4>
                                <b class="text-muted d-block my-3">The employer will take all steps to ensure company vehicles are as safe as possible and will not require staff to drive under conditions that are unsafe and/or likely to create an unsafe environment, physical distress, fatigue, etc.</b>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i> Putting in place vehicle check list where employees check vehicles' oil, water, and general cleanliness and maintain record of the inspections.</li>
                                    <li><i class="ri-check-double-line"></i> Keeping maintenance schedules in the vehicle which are completed each time the vehicles are serviced in any way.</li>
                                    <li><i class="ri-check-double-line"></i> Setting up a procedure to identify and rectify faults as soon as practicable.</li>
                                    <li><i class="ri-check-double-line"></i> Driver assessment and required training as part of all staff inductions.</li>
                                    <li><i class="ri-check-double-line"></i> Advanced driver training or specific practical training as required and identified.</li>
                                    <li><i class="ri-check-double-line"></i> Regular staff seminars or refresher meetings on safety features, fatigue, driver responsibility and drink-driving.</li>
                                    <li><i class="ri-check-double-line"></i> Driver training log updates on personnel files.</li>
                                </ul>
                                <h4>Encouraging safe driving behaviour by:</h4>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i>Not paying infringement fines.</li>
                                    <li><i class="ri-check-double-line"></i> Forbidding the use of mobile phones in vehicles while driving.</li>
                                    <li><i class="ri-check-double-line"></i> Encouraging regular breaks when driving long distance.</li>
                                    <li><i class="ri-check-double-line"></i> Ensuring the employer is informed if existing staff become unlicensed.</li>
                                </ul>
                                <h4>What employees are to do if there is a crash in a company vehicle</h4>
                                <p>
                                    Immediately stop your vehicle at the scene or as close to it as possible, making sure you are not obstructing traffic. Ensure your own safety first. Help any injured people and call for assistance if needed.
                                </p>
                                <b class="text-muted d-block my-3">Try to get the following information:</b>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i>Details of the other vehicle(s) and registration number(s)</li>
                                    <li><i class="ri-check-double-line"></i> Name(s) and address(es) of the other vehicle owner(s) and driver(s)</li>
                                    <li><i class="ri-check-double-line"></i> Name(s) and address(es) of any witness(es)</li>
                                    <li><i class="ri-check-double-line"></i> Ensuring the employer is informed if existing staff become unlicensed.</li>
                                </ul>
                                <b class="text-muted d-block my-3">Give the following information:</b>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i> Your name, address and company details.</li>
                                </ul>
                                <h4>How the success of the policy will be Measured</h4>

                                <b class="text-muted d-block my-3">The success of this policy will be measured by the increase or decrease in:</b>
                                <ul class="list-unstyled">
                                    <li><i class="ri-check-double-line"></i> The number of crashes involving company vehicles.</li>
                                    <li><i class="ri-check-double-line"></i> The number of at-fault crashes involving company vehicles.</li>
                                    <li><i class="ri-check-double-line"></i> The number of traffic infringements received.</li>
                                    <li><i class="ri-check-double-line"></i> The costs of repairs and maintenance.</li>
                                </ul>
</div>
                </div>
            </div>
        </section>

    </main>


  <!-------==========Whatsapp==================---------->
    <a href="https://api.whatsapp.com/send?phone=919839418222" class="float" target="_blank">
        <i class="bi bi-whatsapp my-float"></i>
    </a>
    <!-------==========Whatsapp==================---------->


}






