
html,p,h1,h2,h3,h4,h5,input,span
{
    font-family: 'Rubik', sans-serif;
}
span{
    font-size:16px !important;
}
  .certificate-container {
    padding: 10px 50px 10px 50px;
    /*width: 1024px;*/
    margin:0px auto;
}
.certificate {
    border: 20px solid #0C5280 !important;
    border-radius: 100px 0px 100px 0 !important;
    padding: 25px !important;
    /*height: 650px;*/
    position: relative;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute !important;
    background-image: url(/assets/img/tower.jpg) !important;
    background-size: cover !important;
    z-index: -1 !important;
    opacity: 0.23 !important;
}

.certificate-header > .logo {
    height: 45px;
}
.certificate-header{
    width: 182px !important;
    background: #0c5280 !important;
    border-radius: 30px 0px 30px 0px !important;
}

.title{
    font-weight: 600 !important;
    font-size: 40px !important;
    color: #f58634 !important;
}
.certificate_desc,.topic-title
{
font-size: 20px;
}

.certificate-content {
    margin: 0 auto;
    /*width: 750px;*/
}

.about-certificate {
    /*width: 380px;*/
    font-size:18px !important;
    margin: 0 auto !important;
    padding:0px 25px 0px 25px !important;
}
#btn-print
{
    padding: 5px 30px;
    background:#0c5280;
    border-color: #0c5280;
    border-radius: 10px;
}
