@model BhartiNetwork.Models.Home

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bharti Networks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/bn-favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>


    <main id="main">

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- ======= Contact Section ======= -->
        <section id="contact bg-white pt-7" class="contact">
            <div class="container" data-aos="fade-up">


                <div class="row mt-1 d-flex justify-content-center bg-red" data-aos="fade-right" data-aos-delay="100">
                    <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100" style="border: 2px solid #f58634; border-radius: 25px; padding: 40px;">
                        <div class="text-center">
                            <img src="../assets/img/logo-dark.png" width="250px">
                        </div>

                        @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">*@

                        @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                        {

                            <div class="row">
                                <p style="color:red;">
                                    @TempData["Login"]
                                </p>
                                <div class="col-md-12 form-group">
                                    <label>User Id<span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "User Id" })

                                    @*<input type="text" name="username" class="form-control" id="username" placeholder="Enter Your Username" required>*@
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                @*<label>Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="********" required>*@

                                <label>Password<span style="color: red">*</span></label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "password" })

                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="container d-flex justify-content-end">
                                <div class="text-center "><button type="submit" onclick="return validateform();">Login</button></div>
                                @*<div class="text-center "><button type="submit" href="new-user.html">New User</button></div>*@

                                @*<a href="/Home/newuser" class="btn btn-info">New User</a>*@

                            </div>
                        }
                        @*</form>*@
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main><!-- ===============================================-->



    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <script type="text/javascript">
    $(function()
{
    function after_form_submitted(data)
    {
        if(data.result == 'success')
        {
            $('form#reused_form').hide();
            $('#success_message').show();
            $('#error_message').hide();
        }
        else
        {
            $('#error_message').append('<ul></ul>');

            jQuery.each(data.errors,function(key,val)
            {
                $('#error_message ul').append('<li>'+key+':'+val+'</li>');
            });
            $('#success_message').hide();
            $('#error_message').show();

            //reverse the response on the button
            $('button[type="button"]', $form).each(function()
            {
                $btn = $(this);
                label = $btn.prop('orig_label');
                if(label)
                {
                    $btn.prop('type','submit' );
                    $btn.text(label);
                    $btn.prop('orig_label','');
                }
            });

        }//else
    }

  $('#reused_form').submit(function(e)
      {
        e.preventDefault();

        $form = $(this);
        //show some response on the button
        $('button[type="submit"]', $form).each(function()
        {
            $btn = $(this);
            $btn.prop('type','button' );
            $btn.prop('orig_label',$btn.text());
            $btn.text('Sending ...');
        });


                    $.ajax({
                type: "POST",
                url: 'handler.php',
                data: $form.serialize(),
                success: after_form_submitted,
                dataType: 'json'
            });

      });
});

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function validateform() {

        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }

        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
                return false;
            }
    }

    </script>

    <style>
        .errortext {
            border: 1px solid red !important;
            background-color: #fff0f0 !important;
        }
    </style>



</body>

</html>





